/* COLOURS */

$clr-base-almost-white: #F8FFFD;
/* For background in light mode */
$clr-base-bright-blue: #6DFFE7;
/* E.g. for logo and priority 1 in dark mode */
$clr-base-medium-blue: #9EFDEE;
/* For priority 2 in dark mode */
$clr-base-light-blue: #C0FFF5;
/* For priority 3 in dark mode */
$clr-base-very-light-blue: #E5FFFB;
/* For priority 4 in dark mode */
$clr-base-transparent-greyish-blue: rgba(207, 222, 218, 0.8);
/* Transparent greyish blue for modal background colour */
$clr-accent-dark-purple: #6F55A0;
/* For nav and global footer in light and dark mode and for logo in light mode */
$clr-accent-purple-high-intensity: #8B62D9;
/* For background in dark mode and priority 1 in light mode */
$clr-accent-purple-medium-high-intensity: #AD82FF;
/* For priority 2 in light mode */
$clr-accent-purple-medium-intensity: #C4A5FF;
/* For priority 3 in light mode */
$clr-accent-purple-low-intensity: #DBC7FF;
/* For priority 4 in light mode */
$clr-CTA-yellow: #FFF646;
$clr-real-black: #000000;

/* NEGATIVE SPACE */

$xxx-small-negative-space: .2rem;
$xx-small-negative-space: .25rem;
$x-small-negative-space: .5rem;
$small-negative-space: 1rem;
$regular-negative-space: 1.33rem; //1.33x12 px=almost 16 px (15.96)
$medium-large-negative-space: 2rem;