/* Alt+35 : # 
Unicode version: Alt+x0035 : # 

Unicode for underscore?

Special characters: 
Can.-French keyboard (QWERTY, Win10 version--I am not sure if it's heritage or multilingual; not the one I learned in high school), 
    - numbers' row: #-=
    - shift+numbers: |!"/$%?&*()_+
    - alt+ctrl+numbers: \±@£¢¤¬¦²³¼½¾
    - q row, key followed by spacebar (accent circonflexe, cédille): ^¸ 
    - q row, shift+key followed by spacebar: ^¨
    - q row, alt+ctrl+key: §¶[]
    - a row, key (accent appears after spacebar is pressed): ;`< 
    - a row, shift+key (accent appears after spacebar is pressed; duplicate): :`>
    - a row, alt+ctrl+key: ~{}
    - z row, key: «,.é
    - z row, shift+key: »'.É
    - z row, alt+ctrl+key (accent appears after spacebar is pressed): °µ¯­ ´
*/
/* MAYBE TO DO: 
Any missing ACCESSIBLE rollover effects in modals and dynamic sections? (two sets: one for light mode and one for dark mode)
More responsiveness 
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    --clr-base-almost-white: #F8FFFD; /* For background in light mode */
    --clr-base-bright-blue: #6DFFE7; /* E.g. for logo and priority 1 in dark mode */
    --clr-base-medium-blue: #9EFDEE; /* For priority 2 in dark mode */
    --clr-base-light-blue: #C0FFF5; /* For priority 3 in dark mode */
    --clr-base-very-light-blue: #E5FFFB; /* For priority 4 in dark mode */
    --clr-base-transparent-greyish-blue: rgba(207, 222, 218, 0.8); /* Transparent greyish blue for modal background colour */
    --clr-accent-dark-purple: #6F55A0; /* For nav and global footer in light and dark mode and for logo in light mode */
    --clr-accent-purple-high-intensity: #8B62D9; /* For background in dark mode and priority 1 in light mode */
    --clr-accent-purple-medium-high-intensity: #AD82FF; /* For priority 2 in light mode */
    --clr-accent-purple-medium-intensity: #C4A5FF; /* For priority 3 in light mode */
    --clr-accent-purple-low-intensity: #DBC7FF; /* For priority 4 in light mode */
    --clr-CTA-yellow: #FFF646;
    --clr-real-black: #000000; 

    font-size: 12px;
    font-family: Inter, sans-serif;
}

@media (min-width: 425px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: var(--clr-base-almost-white);
    color: var(--clr-real-black);
    /* The inline margin is space for the scroll bar, particularly on mobiles. */
    margin-inline: 1.33rem;
}

header,
main {
    margin-inline: 1rem;
}

main a,
.modal-by-Marie-Pierre-Lessard a {
    color: var(--clr-real-black);
}

h1,
h2,
h3 {
    color: var(--clr-accent-dark-purple);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

.priority-by-Marie-Pierre-Lessard h2 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-real-black);
    /* Standard browser margins overridden to limit distance between h2 and the border above. */
    margin-block: .5rem;
}

select > option {
    font-weight: 700;
}

select > optgroup {
    font-style: italic;
    background-color: var(--clr-accent-purple-low-intensity);
}

select > optgroup > option {
    /* Otherwise, the styling of the optgroup is inherited. */
    font-style: normal;
}

/* #region Logo in light mode: SVG and its children */
/* .logo-by-Marie-Pierre-Lessard is a SVG file */
/* MAYBE TO DO: on small mobiles: 40px or 3.33rem; eventually replace by more responsive measurements 
Probably set sizes in header in vw. */
/* Note: I thought that I had to change the measurements in .logo__rectangle1-by-Marie-Pierre-Lessard and .logo__rectangle2-by-Marie-Pierre-Lessard, but removing the inline sizing of the SVG element is sufficient to control the size of the logo. */
.logo-by-Marie-Pierre-Lessard {
    height: 3.33rem;
    width: 3.33rem;
    /* padding-inline and padding-top: are to improve look of outline */
    padding-inline: .5rem;
    padding-top: .25rem;
} 

.logo__rectangle1-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-almost-white);
}

.logo__rectangle2-by-Marie-Pierre-Lessard {
    stroke: var(--clr-accent-dark-purple);
}

.logo__path1-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-dark-purple);
}

.logo__path2-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-dark-purple);    
}

.logo__path3-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-dark-purple);    
}

.logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-dark-purple);    
}

.logo__path5-by-Marie-Pierre-Lessard {
    stroke: var(--clr-accent-dark-purple);    
}

.logo-by-Marie-Pierre-Lessard line {
    stroke: var(--clr-accent-dark-purple);     
}
/* #endregion about logo in light mode */

/* MAYBE TO DO: for small mobiles: 36px, i.e. 3rem; eventually replace by more responsive measurements */
/* Help icon smaller than logo because it has a thicker border, and it otherwise looks wrong. 
Visually, the thicker border gives more weight/more emphasis to the right side of the header.*/
.help-icon-by-Marie-Pierre-Lessard {
    width: 3rem;
    height: 3rem;
    /* padding-top: is to improve look of outline */
    padding-top: .25rem;
    fill: var(--clr-accent-dark-purple);
    cursor: help;
}

.help-btn-by-Marie-Pierre-Lessard {
    border: none;
    background-color: transparent;
}

.global-header-by-Marie-Pierre-Lessard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* The colours of the main navigation DO NOT change in dark mode */
.main-nav-container-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-dark-purple);
    border: 1px solid var(--clr-real-black);

    position: sticky;
    top: 0;
}

/* .main-nav-by-Marie-Pierre-Lessard is a UL element */
.main-nav-by-Marie-Pierre-Lessard {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    border: 1px solid var(--clr-real-black);
}

.main-nav-by-Marie-Pierre-Lessard li {
    height: 2rem;
    border: 1px solid var(--clr-base-almost-white);
    text-align: center;
}

.main-nav-by-Marie-Pierre-Lessard a {
    /* display: block; is required to make links fill the whole width and height of the parent */
    display: block;
    width: 100%;
    height: 100%;
    /* align-content centers the text vertically inside of the a element. */
    align-content: center;
    text-decoration: none;
    color: var(--clr-CTA-yellow);
}

.urgent-important-matrix-by-Marie-Pierre-Lessard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.33rem;
    margin-block: 1.33rem;
}

@media (min-width: 768px) {
    .urgent-important-matrix-by-Marie-Pierre-Lessard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

/* .priority-by-Marie-Pierre-Lessard class represents sections */
.priority-by-Marie-Pierre-Lessard {
    border: 1px solid var(--clr-real-black);
    border-radius: 9px;
    padding-inline: .5rem;
    min-height: 3.5rem;
}

.priority--1-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-high-intensity);
}

.priority--2-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-medium-high-intensity);
}

.priority--3-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-medium-intensity); 
}

.priority--4-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-low-intensity);    
}

/* Standard browser margins of ul and li overridden: 
- to limit distance between dynamic elements and the h2 and the border below;
- to put bullets closer to the right-hand border. 
TO DO: replace ul&li by sth else if that is what I create in JavaScript*/
.priority-by-Marie-Pierre-Lessard ul {
    padding-inline: 2rem;
    margin-block: 0;
}
.priority-by-Marie-Pierre-Lessard li {
    margin-block: .5rem;
}

.intro-msg-by-Marie-Pierre-Lessard {
    background-color: var(--clr-CTA-yellow);
    border-radius: 9px;
    margin-block: 1.33rem;
    padding-block: .5rem;
    padding-inline: .5rem;
}

.intro-msg-by-Marie-Pierre-Lessard .align-svg-with-text-by-Marie-Pierre-Lessard {
    /* When I applied display: flex; to the span elements that contain parentheses (also in span elements), each with a SVG to align with parentheses according to the same principle that I discovered for the middle footer button, the parent span element behaved like a block-level element. It was necessary to choose display: inline-flex; to make sure that the span element was not treated like a block-level element.
    The footer button (also an inline element) did not start behaving like a block element when I turned it into a flexbox, but maybe that is because browsers are fault-tolerant, so I replaced display: flex; by display: inline-flex; in the footer as well. 
    See the following source about display: inline-*, such as display: inline-flex; and display: inline-grid; : 
    https://stackoverflow.com/questions/24313271/display-property-differences-for-inline-something */
    display: inline-flex;
    flex-direction: row;
}

.intro-msg-by-Marie-Pierre-Lessard svg {
    height: 1rem;
}

.help-by-Marie-Pierre-Lessard {
    margin-block: 1.33rem;
}

.copyright-by-Marie-Pierre-Lessard {
    margin-block: 1.33rem;
}

/* The colours of the global footer DO NOT change in dark mode */
.global-footer-by-Marie-Pierre-Lessard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--clr-real-black);

    position: sticky;
    bottom: 0;
}

.global-footer-by-Marie-Pierre-Lessard button,
.modal-by-Marie-Pierre-Lessard button {
    background-color: var(--clr-accent-dark-purple);
    border: 1px solid var(--clr-base-almost-white);
    color: var(--clr-CTA-yellow);
    padding-block: .5rem;
    cursor: pointer;
}

.global-footer-by-Marie-Pierre-Lessard button {
    /* Without display: flex; (or display: inline-flex;) and align-items: center; the SVGs sat higher than the slash, i.e. the SVGs were floating above the baseline. 
    The text has to be in a span element, otherwise this doesn't work. 
    I couldn't find how to do this on the Internet, so I discovered the solution through experimentation. 
    This is the same problem as when you try to put an image and an input (two inline items) next to each other, but the picture sits higher than the input unless one uses display: flex; to align them. 
    
    Interestingly, it looks like the Figma people might not know how to do this because Figma places the icons higher than the slash, and there is no way to adjust this in Figma. */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.global-footer-by-Marie-Pierre-Lessard button svg {
    fill: var(--clr-CTA-yellow);
}

.global-footer-by-Marie-Pierre-Lessard button svg path {
    height: 2rem; 
}

.global-footer-by-Marie-Pierre-Lessard button span {
    font-size: 2rem;
}

.modal-by-Marie-Pierre-Lessard {
    position: relative;

    background-color: var(--clr-base-almost-white);
    border: none;
    width: 84%;
    padding: 0;
}

.modal--help-by-Marie-Pierre-Lessard {
    margin-block: 1.33rem;
}

.modal-by-Marie-Pierre-Lessard::backdrop {
    background-color: var(--clr-base-transparent-greyish-blue);
}

.modal--cat-edit-del-by-Marie-Pierre-Lessard,
.modal--task-edit-del-by-Marie-Pierre-Lessard, 
.modal--help-by-Marie-Pierre-Lessard {
    padding: 2rem;
}

.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard {
    height: 3rem;
    width: 3rem;

    position: absolute;
    top: 0;
    right: 0; 
    /* Previous option, before positioning: 
    display: block;
    justify-self: right; */
}

.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard svg {
    height: 2rem;
    width: 2rem;
    fill: var(--clr-CTA-yellow);
}

.modal-by-Marie-Pierre-Lessard fieldset {
    border: none;
    padding-top: .5rem;
    padding-bottom: 3rem;
    padding-inline: 1rem;

    display: flex;
    flex-direction: column;
}

.modal-by-Marie-Pierre-Lessard label {
    margin-top: .5rem;
    margin-bottom: .2rem;
}

.modal-by-Marie-Pierre-Lessard input,
.modal-by-Marie-Pierre-Lessard textarea,
.modal-by-Marie-Pierre-Lessard select {
    margin-top: .2rem;
    margin-bottom: .5rem;
    border-radius: 9px;
}

.modal__warning-by-Marie-Pierre-Lessard {
    margin-top: .5rem;
    margin-bottom: 0;
}

.modal-by-Marie-Pierre-Lessard form footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* #region Rollover effects */
/* I deleted the a parent of the logo, so I am hiding its rollover effects. I am keeping the styling in case I change my mind because this was time-consuming. 
.logo-by-Marie-Pierre-Lessard:hover .logo__rectangle2-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:hover .logo__path5-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:hover line {
    stroke: var(--clr-accent-purple-high-intensity);
}

.logo-by-Marie-Pierre-Lessard:hover .logo__path1-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:hover .logo__path2-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:hover .logo__path3-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:hover .logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-purple-high-intensity);
}

.logo-by-Marie-Pierre-Lessard:active .logo__rectangle2-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:active .logo__path5-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:active line {
    stroke: var(--clr-accent-purple-low-intensity);
}

.logo-by-Marie-Pierre-Lessard:active .logo__path1-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:active .logo__path2-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:active .logo__path3-by-Marie-Pierre-Lessard,
.logo-by-Marie-Pierre-Lessard:active .logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-purple-high-intensity);
}
*/

.help-icon-by-Marie-Pierre-Lessard:hover {
    /* For some reason, the colour of the SVG doesn't change on focus. */
    fill: var(--clr-accent-purple-high-intensity);
}

.help-icon-by-Marie-Pierre-Lessard:active {
    /* For some reason, the colour of the SVG doesn't change on focus. */
    fill: var(--clr-accent-purple-low-intensity);
}

.main-nav-by-Marie-Pierre-Lessard a:hover,
.main-nav-by-Marie-Pierre-Lessard a:focus {
    text-decoration: underline;
    /* --clr-CTA-yellow looks nice, but even a normally sighted person has a hard time reading it on the lightest purples. 
    Bright blue doesn't work either. */
    color: var(--clr-real-black);
}

.main-nav-by-Marie-Pierre-Lessard li:first-of-type a:hover,
.main-nav-by-Marie-Pierre-Lessard li:first-of-type a:focus {
    background-color: var(--clr-accent-purple-high-intensity);
}

.main-nav-by-Marie-Pierre-Lessard li:nth-of-type(2) a:hover,
.main-nav-by-Marie-Pierre-Lessard li:nth-of-type(2) a:focus {
    background-color: var(--clr-accent-purple-medium-high-intensity);
}

.main-nav-by-Marie-Pierre-Lessard li:nth-of-type(3) a:hover,
.main-nav-by-Marie-Pierre-Lessard li:nth-of-type(3) a:focus {
    background-color: var(--clr-accent-purple-medium-intensity);
}

.main-nav-by-Marie-Pierre-Lessard li:last-of-type a:hover,
.main-nav-by-Marie-Pierre-Lessard li:last-of-type a:focus {
    background-color: var(--clr-accent-purple-low-intensity);
}

.main-nav-by-Marie-Pierre-Lessard a:active {
    text-decoration: none;
    /* MAYBE TO DO: For Daltonians, it might look like the text in --clr-CTA-yellow is becoming invisible for a split second on the light-purple background, but it's close to the flicker that I see, and it's for less than a second... */
    color: var(--clr-CTA-yellow);
}

main a:hover,
main a:focus, 
.modal-by-Marie-Pierre-Lessard a:hover,
.modal-by-Marie-Pierre-Lessard a:focus {
    color: var(--clr-accent-dark-purple);
}

.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:hover svg,
.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:focus svg {
    fill: var(--clr-CTA-yellow);
}

main a:active, 
.modal-by-Marie-Pierre-Lessard a:active {
    color: var(--clr-CTA-yellow);    
}

.global-footer-by-Marie-Pierre-Lessard button:hover,
.global-footer-by-Marie-Pierre-Lessard button:focus,
.modal-by-Marie-Pierre-Lessard button:hover,
.modal-by-Marie-Pierre-Lessard button:focus {
    /* Daltonians cannot see text in --clr-CTA-yellow on a --clr-accent-purple-high-intensity background, so the buttons have to turn yellow in both light and dark mode. */
    background-color: var(--clr-CTA-yellow);
    color: var(--clr-accent-dark-purple);
}

.global-footer-by-Marie-Pierre-Lessard button:hover svg,
.global-footer-by-Marie-Pierre-Lessard button:focus svg,
.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:hover svg,
.modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:focus svg {
    fill: var(--clr-accent-dark-purple);
}

.global-footer-by-Marie-Pierre-Lessard button:active,
.modal-by-Marie-Pierre-Lessard button:active {
    /* MAYBE TO DO: For Daltonians, it might look like the text in --clr-CTA-yellow is becoming invisible for a split second on the light-purple background, but it's close to the flicker that I see, and it's for less than a second... */
    background-color: var(--clr-accent-purple-medium-intensity);
}
/* #endregion Rollover effects */

/* #region Dark mode */
/* Dark-mode classes have to be defined at the bottom of CSS file or at least below each affected light-mode styling, or the light-mode styling won't be overwritten when toggling the dark-mode class to true. 
MAYBE TO DO or try in some other assignment: Since 2024, it is possible to use the light-dark() CSS <color> function. That would be an alternative to what I already wrote below. See: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark */

/* .dark-mode-by-Marie-Pierre-Lessard applies to body element  */
.dark-mode-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-high-intensity);
}

/* #region Logo in dark mode: SVG and its children */
/* .logo-by-Marie-Pierre-Lessard is a SVG file */
.dark-mode-by-Marie-Pierre-Lessard .logo__rectangle1-by-Marie-Pierre-Lessard {
    fill: var(--clr-accent-purple-high-intensity);
}

.dark-mode-by-Marie-Pierre-Lessard .logo__rectangle2-by-Marie-Pierre-Lessard {
    stroke: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .logo__path1-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .logo__path2-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-bright-blue);    
}

.dark-mode-by-Marie-Pierre-Lessard .logo__path3-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-bright-blue);    
}

.dark-mode-by-Marie-Pierre-Lessard .logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-bright-blue);    
}

.dark-mode-by-Marie-Pierre-Lessard .logo__path5-by-Marie-Pierre-Lessard {
    stroke: var(--clr-base-bright-blue);    
}

.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard line {
    stroke: var(--clr-base-bright-blue);     
}
/* #endregion about logo in dark mode */

.dark-mode-by-Marie-Pierre-Lessard h1,
.dark-mode-by-Marie-Pierre-Lessard h2,
.dark-mode-by-Marie-Pierre-Lessard h3 {
    color: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .priority-by-Marie-Pierre-Lessard h2 {
    color: var(--clr-real-black);
}

.dark-mode-by-Marie-Pierre-Lessard .help-icon-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li, 
.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button,
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard button {
    border: 1px solid var(--clr-accent-purple-medium-high-intensity);
}

.dark-mode-by-Marie-Pierre-Lessard .priority--1-by-Marie-Pierre-Lessard {
    background-color: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .priority--2-by-Marie-Pierre-Lessard {
    background-color: var(--clr-base-medium-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .priority--3-by-Marie-Pierre-Lessard {
    background-color: var(--clr-base-light-blue); 
}

.dark-mode-by-Marie-Pierre-Lessard .priority--4-by-Marie-Pierre-Lessard {
    background-color: var(--clr-base-very-light-blue);    
}

.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard {
    background-color: var(--clr-accent-purple-high-intensity);
}

/* #region Rollover effects in dark mode */
/* I deleted the a parent of the logo, so I am hiding its rollover effects. I am keeping the styling in case I change my mind because this was time-consuming. 
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__rectangle2-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__path5-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover line {
    stroke: var(--clr-base-light-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__path1-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__path2-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__path3-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:hover .logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-light-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__rectangle2-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__path5-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active line {
    stroke: var(--clr-CTA-yellow);
}

.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__path1-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__path2-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__path3-by-Marie-Pierre-Lessard,
.dark-mode-by-Marie-Pierre-Lessard .logo-by-Marie-Pierre-Lessard:active .logo__path4-by-Marie-Pierre-Lessard {
    fill: var(--clr-base-light-blue);
}
*/

.dark-mode-by-Marie-Pierre-Lessard .help-icon-by-Marie-Pierre-Lessard:hover {
    /* For some reason, the colour doesn't change on focus. */
    fill: var(--clr-base-light-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .help-icon-by-Marie-Pierre-Lessard:active {
    /* For some reason, the colour doesn't change on focus. */
    fill: var(--clr-CTA-yellow);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard a:hover,
.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard a:focus {
    text-decoration: underline;
    /* --clr-CTA-yellow looks nice, but even a normally sighted person has a hard time reading it on the lightest purples. 
    */
    color: var(--clr-accent-dark-purple);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:first-of-type a:hover,
.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:first-of-type a:focus {
    background-color: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:nth-of-type(2) a:hover,
.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:nth-of-type(2) a:focus {
    background-color: var(--clr-base-medium-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:nth-of-type(3) a:hover,
.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:nth-of-type(3) a:focus {
    background-color: var(--clr-base-light-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:last-of-type a:hover,
.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard li:last-of-type a:focus {
    background-color: var(--clr-base-very-light-blue);
}

.dark-mode-by-Marie-Pierre-Lessard .main-nav-by-Marie-Pierre-Lessard a:active {
    text-decoration: none;
    /* MAYBE TO DO: For Daltonians, it might look like the text in --clr-CTA-yellow is becoming invisible for a split second on the light-purple background, but it's close to the flicker that I see, and it's for less than a second... */
    color: var(--clr-CTA-yellow);
}

.dark-mode-by-Marie-Pierre-Lessard main a:hover,
.dark-mode-by-Marie-Pierre-Lessard main a:focus,
.modal-by-Marie-Pierre-Lessard a:hover,
.modal-by-Marie-Pierre-Lessard a:focus  {
    color: var(--clr-base-bright-blue);
}

.dark-mode-by-Marie-Pierre-Lessard main a:active,
.modal-by-Marie-Pierre-Lessard a:active {
    color: var(--clr-CTA-yellow);    
}

.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button:hover,
.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button:focus,
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard button:hover, 
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard button:focus {
    background-color: var(--clr-CTA-yellow);
    color: var(--clr-accent-dark-purple);
}

.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button:hover svg,
.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button:focus svg,
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:hover svg,
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard .close-btn-by-Marie-Pierre-Lessard:focus svg {
    fill: var(--clr-accent-dark-purple);
}

.dark-mode-by-Marie-Pierre-Lessard .global-footer-by-Marie-Pierre-Lessard button:active,
.dark-mode-by-Marie-Pierre-Lessard .modal-by-Marie-Pierre-Lessard button:active {
    /* MAYBE TO DO: For Daltonians, it might look like the text in --clr-CTA-yellow is becoming invisible for a split second on the light-purple background, but it's close to the flicker that I see, and it's for less than a second... */
    background-color: var(--clr-accent-purple-low-intensity);
}
/* #endregion about rollover effects in dark mode */
/* #endregion about dark mode */

.hidden {
    display: none;
}